@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample ASP.NET application</h1>
    <p class="lead">ASP.NET web application to demonstrate creation of a simple web application containing some features</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Home page</h2>
        <p>Displays the requirements and header that displays on all pages</p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>We can create new account</p>
    </div>
    <div class="col-md-4">
        <h2>Log in</h2>
        <p>User can Log in and out of account</p>
    </div>
    <div class="col-md-4">
        <h2>Manage Profile</h2>
        <p>
            Logged in users can manage their profile
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/studymaterial.png" alt="study tree" />
    </div>
</div>
